

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #875a2c;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1px solid blue;
    width: 500px;
    height: 500px;
    margin: auto;
}



.gridDiv {
    border: 1px solid red;
    height: 100%;
    width: 6.25%;
    padding: 0;
    margin: 0;

}