

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #875a2c;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin:auto;
    margin-top: 40px;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSquare {
    border: 1px solid #a9a9a9;
    width: 30px;
    height: 30px;   
}



