

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #875a2c;
}


.container {
    border: 1px solid red;
}

.rowContainer {
    border: 1px solid blue;
}

.gridSquare {
    border: 1px solid green;
}

